:root {
    --red: #e60000;
    --shadow-red: #660000;
    --border-red: #4d0000;
    --background-img: linear-gradient( #a6a6a6, #f2f2f2f2);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: auto;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: #f2f2f2;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    box-shadow: 0 1px 8px var(--shadow-red);
    font-size: 20px;
    color: black;
    margin-bottom: 25px;
    background-image: var(--background-img)
}

.nav-title {
    margin-right: auto;
    font-size: 1.7em;
    line-height: none;
}

.nav-title a {
    text-decoration: none;
    color: black;
}

header nav {
    padding-right: 3%;
}

.navbar-ul {
    display: flex;
}

.navbar-ul li {
    padding: 10px;
}

.navbar-ul a {
    font-size: 25px;
    text-decoration: none;
    padding: 3px 5px;
    border-bottom: 2px solid var(--border-red);
    color: black;
}

.navbar-ul a:hover {
    box-shadow: 0 1px 8px var(--shadow-red);
    background-color: var(--red);
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 13% 75%;
    width: 95%;
    gap: 5%;
}

.h2-sections {
    border-right: 5px solid var(--border-red);
    text-align: end;
    font-weight: 700;
    padding: 0 20px;
    font-size: 1.6rem;
}

.profile-img {
    width: 200px;
    border: 3px solid var(--border-red);
    float: left;
    margin-right: 10px;
}

#work {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 350px;
    grid-template-areas: 
        "first first second" 
        "third fourth fifth";
    gap: 20px;
}

#work a {
    text-decoration: none;
    color: black;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

.projects {
    border: 2px solid black;
    border-radius: 20px;
    margin: 5px;
    transition: all .2s ease-in-out;
}

.projects:hover {
    transform: scale(1.05);
}

.project-buffer {
    margin: 10px;
}

.project-title {
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    background-image: var(--background-img);
    border-radius: 20px 20px 0 0;
}

.project-img {
    position: relative;
    min-height: 100px;
    max-height: 250px;
    border-radius: 0 0 20px 20px;
}

.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*=======================Contact links and images======================*/
.contact-links {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contact-links a {
    text-decoration: none;
    color: black;
    transition: all .2s ease-in-out;
}

.contact-links a:hover {
    opacity: 0.7;
    transform: scale(1.4);
}

.contact-details {
    margin: 10px;
}

.fa {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 20px;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa-github {
    background: #201C1C;
    color: white;
}

.fa-envelope {
    background: #bb0000;
    color: white;
}

.fa-linkedin {
    background-color: #0077B5;
    color: white;
}

.fa-file {
    background-color: #009933;
    color: white;
}

/*====================Media Query===================*/
@media screen and (max-width: 1410px) {
    #work{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 350px 350px 350px;
        grid-template-areas:
            "first first" "second third" "forth fifth";
    }
}

@media screen and (max-width: 1030px) {
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .nav-title {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .navbar-ul a {
        border-bottom: 4px solid var(--border-red);
        font-size: 20px;
        width: 100%;
    }

    .container {
        display: grid;
        grid-template-columns: 100%;
        width: 80%;
        margin: 0 auto;
        gap: 2%;
    }

    .h2-sections {
        border-right: 0;
        border-bottom: 4px solid var(--border-red);
        text-align: center;
    }

    #work{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 350px 350px 350px 350px 350px;
        grid-template-areas:
            "first" "second" "third" "forth" "fifth";
    }

    .project-img {
        position: relative;
        min-height: 100px;
        max-height: 250px;
        max-width: 300px;
        border-radius: 0 0 20px 20px;
    }
}